{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="../css/styles.css">
{% endblock %}
{% block title %} Pokedex - N13 {% endblock %}
{% block content %}
<div class="p-4 pt-5 mb-0 text-center jumbotron jumbotron-fluid rounded" style="background-color: rgba(0,204,221,1);border:2px solid black;">
  <div class="pl-3">
    <h1 class="display-5">{{name}}</h1>
  </div>
</div>
<ol id="pokedex" class="m-0 p-0 text-center overflow-auto pb-5" style="height: 80vh;box-sizing:border-box;">
    {% for pokemon in allPokemon.results %}
        <li class="d-inline-flex m-3">
        <div class="card border border-dark" style="width: 10rem;">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ offset + loop.index}}.png" class="card-img-top" alt="{{ pokemon.name }} image">
            <div class="card-body">
                <p>{{offset + loop.index}}</p>
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <a href="{{path(
                        'pokeDetail',{'number': offset + loop.index})
                         }}" class="btn btn-primary">More</a>
            </div>
        </div>
        </li>
       
    {% endfor %}
</ol>
{% endblock %}